@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/jquery.modal-master/js/jquery-latest.min.js"></script>
    <link href="~/Content/jquery.modal-master/css/jquery.modal.css" rel="stylesheet" />
    <link href="~/Content/jquery.modal-master/css/jquery.modal.theme-xenon.css" rel="stylesheet" />
    <link href="~/Content/jquery.modal-master/css/jquery.modal.theme-atlant.css" rel="stylesheet" />
    <script src="~/Content/jquery.modal-master/js/jquery.modal.js"></script>
    <script src="../../Content/jquery-ui-1.11.4.custom/external/jquery/jquery.js" type="text/javascript"></script>
    <link href="~/Content/MainCSS/Main.css" rel="stylesheet" />
    <script src="~/Content/chosen/chosen.jquery.min.js"></script>
    <link href="~/Content/chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.11.4.custom/Custom.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        <select id="Country" name="countrylist" class="country">
            <option value="1">India</option>
            <option value="2">USA</option>
            <option value="3">UK</option>
            <option value="4">Pakistan</option>
            <option value="5">Sri-Lanka</option>
            <option value="6">Oman</option>
        </select>
    </div>
    <div>
        <input type="checkbox" value="Idly" name="Food" class="FoodType" />Idly
        <input type="checkbox" value="Dosa" name="Food" class="FoodType" />Dosa
        <input type="checkbox" value="Vada" name="Food" class="FoodType" />Vada
        <input type="checkbox" value="Pongal" name="Food" class="FoodType" />Pongal
        <input type="checkbox" value="Pori" name="Food" class="FoodType" />Pori
    </div>
    <div>
        <input type="radio" value="Male" name="SexType" class="Sex" />Male
        <input type="radio" value="Female" name="SexType" class="Sex" />Female
    </div>
</body>
</html>
